@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

:root {
  --main: #9c7c45;
  --sub: rgb(246, 247, 250);
  background-size: 100vh 100vh;
  background-image: url("./background.jpg");
}
.maincontainer {
  min-height: 100vh;
  font-family: "Playfair Display", serif;
  border-bottom: black 2px solid;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
}
.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  padding: 10px 20px;
  background-color: white;
  color: var(--main);
  font-family: "Spicy Rice", cursive;
  border: 4px solid var(--main);
}

.search-button {
  background-color: var(--main);
  border: none;
  padding: 10px 20px;
  color: var(--sub);
  font-family: "Playfair Display", serif;
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: var(--main);
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: var(--main);
}
.recipe {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 30%;
  max-width: 30%;
  border-radius: 10px;
  box-shadow: 0px 5px 20px var(--main);
  margin: 20px;
  background-color: var(--sub);
  padding: 15px 25px 25px 25px;
  border: solid 2px var(--main);
}
.recipe li {
  list-style: none;
}
.image {
  border-radius: 10px;
  box-shadow: 0px 5px 20px var(--main);
  height: 45vh;
  margin-top: 25px;
}
.link {
  color: var(--main);
  text-decoration: none;
  font-weight: 1000;
}
.navUl {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  border: double 2px var(--main);
  margin-left: 15%;
  margin-right: 15%;
  background-color: #1c1c1c;
}
.savedList {
  border-radius: 60px 60px 60px 60px;
  border: none;
  background-color: #e62d49;
  color: white;
}
.helloContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vw;
}
.helloMessage {
  background-color: black;
  color: var(--main);
  border: var(--main) 2px double;
  text-align: center;

  font-size: 25px;
  font-weight: lighter;
  padding: 5vw;
  font-family: "Playfair Display", serif;
}
#totalRecipeIngredients {
  color: black;
  background-color: white;
  padding: 15px 25px 25px 25px;
}
.favourite {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 80%;
  max-width: 80%;
  border-radius: 10px;
  box-shadow: 0px 5px 20px var(--main);
  background-color: var(--sub);
  border: solid 2px var(--main);
}

.favourites {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: var(--main);
}

.savedTitle {
  color: var(--main);
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  align-items: center;
  font-size: 20px;
  border-radius: 60px 60px 60px 60px;
  padding: 25px 25px 25px 25px;
}

.closeContainer {
  list-style: none;
  color: var(--main);
  background-color: white;
  font-family: "Playfair Display", serif;
}
.alcoholMessage {
  border: var(--main) 2px solid;
}
.caloriesMessage {
  border: var(--main) 2px solid;
}

/* mobile */

@media (max-width: 414px) {
  .helloMessage {
    background-color: black;
    max-width: 100%;
    display: flex;
    font-weight: lighter;
    font-size: 30px;
    padding: none;
    font-family: "Playfair Display", serif;
  }
  .helloContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 55;
  }
  .navUl {
    font-size: 10px;
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: flex-start;
  }

  .image {
    display: none;
  }
  .recipe {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    min-width: 65%;
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 0px 5px 20px var(--main);
    background-color: var(--sub);
    border: solid 2px var(--main);
  }
  .navUl > li {
    padding: 2px;
  }
}
